services:
  db:
    container_name: db_postgres
    image: postgres:17.2
    restart: always
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:

networks:
  app_network:
    driver: bridge
